<h3>
  <center>
    UPS - Todos With DEVOPS AZURE
  </center>
</h3>
<ul class="list-group">
    {{#each data}}

      <li class="list-group-item">
        <input type='checkbox' {{#if this.completed}}checked{{/if}}>
        <labe>{{this.title}}</labe>
      </li>
    {{/each}}
  </ul>